body {
    background-color: #f2f2f2;
}

.hidden {
    display: none !important;
}

i {
    margin: 0 16px;
    cursor: pointer;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buttons button {
    margin-left: 16px;
}

.swal2-confirm.button {
    margin-right: 16px;
}