body {
  background-color: #f2f2f2;
  min-height: 100vh;
  min-width: 100vw;
}

.password-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-form label {
  display: block;
  font-weight: bold;
}

.password-form button {
  float: right;
  margin-top: 8px;
}

.hidden {
  display: none !important;
}

i {
  margin: 0 16px;
  cursor: pointer;
}

.config-form {
  max-width: 900px;
  margin: 0 auto;
  padding: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-column-gap: 32px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttons button {
  margin-left: 16px;
}

.swal2-confirm.button {
  margin-right: 16px;
}
